

/* CSS custom properties */
/* @property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
} */

.national-awards {
  margin: 30px 0;
  padding: 20px 0;
  background-image: url("/public/assets/images/background/nt3.jpg");
  background-size: 100%;
  background-position: center ;
  background-repeat: no-repeat;
}

/* .gradient-border {
  border: 4px solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite;
} */

/* Card */
.awards-card {
  max-width: 1200px;
  margin: 0 auto;
}

/* Layout */
.awards-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.awards-left {
  padding-left: 30px;
}

/* List */
.awards-list {
  list-style: none;
  padding: 0;
  text-align: start;
}

.awards-list li {
  padding: 10px 0;
  font-size: 18px;
}

.awards-list li::before {
  content: "✦";
  margin-right: 10px;
  color: var(--c1);
}

.watch-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* Button */
.watch-button {
  margin: auto;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  background: none;
  border: none;
  color: goldenrod;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.watch-button .icon {
  font-size: 30px;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Image slider */
.image-slider {
  position: relative;
  height: 400px;
  overflow: hidden;

}

.image-slider img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.image-slider img.active {
  opacity: 1;
  transform: translateX(0);
}

/* Animation */
@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .awards-content {
    grid-template-columns: 1fr;
  }

  .image-slider {
    height: 220px;
  }
}
