/* Header */
.courses-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: clamp(1.2rem, 3vw, 2.2rem);
}

/* Specialization Section */
/* .specialization-section {
  margin-top: clamp(2rem, 4vw, 4rem);
}

.specialization-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: clamp(1.2rem, 3vw, 2.5rem);
  align-items: center;
}

.specialization-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.specialization-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;      
  background: goldenrod;     
  padding: 10px;           
} */
