.header {
  width: 100%;
  color: #fff;
  background: black;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

/* Brand */
.topbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.film-logo {
  width: clamp(70px, 10vw, 140px);
}

.topbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subtitle {
  font-size: clamp(20px, 2vw, 35px);
}

.main-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: clamp(35px, 5vw, 55px);
  font-size: 65px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #f9be08;
  margin: 0;
  text-shadow: 4px 0 6px rgba(243, 242, 242, 0.4);
}

.right-logos {
  display: flex;
    margin-left: auto;
  gap: 50px;
  padding: 0 20px;
}
.mit-logo,
.naac-logo {
  width: 220px;
}
/* Hamburger */
.menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  align-self: flex-start;
}
