.nav-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.nav-overlay.show {
  opacity: 1;
  pointer-events: all;
}

/* Navbar */
.navbar {
  position: absolute;
  right: 0;
  top: 0;
  width: clamp(250px, 50vw, 420px);
  background: white;
  color: black;
  transform: translateX(100%);
  transition: transform 0.35s ease;
}

.nav-overlay.show .navbar {
  transform: translateX(0);
}

/* Close button - right top corner */
.close-btn {
  position: absolute;
  top: 10px;
  right: 2px;
  background: transparent;
  border: none;
  font-size: clamp(15px, 2vw, 30px);
  cursor: pointer;
  z-index: 10;
}

/* Logos centered */
.nav-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: clamp(15px, 2vw, 30px) clamp(10px, 2vw, 20px);
  box-shadow: 0 6px 20px rgba(138, 138, 138, 0.25);
}

.nav-logos img {
  height: clamp(45px, 2vw, 80px);
  width: auto;
}
/* Menu */
.nav-menu {
  list-style: none;
  padding-left: 10%;
  margin: clamp(10px, 2vw, 25px) 0;
  text-align: start;
}

.nav-menu > li {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 400;
  margin-bottom: 20px;
  cursor: pointer;
}

.nav-menu a,
.submenu a {
  text-decoration: none;
  color: inherit;
}

.submenu {
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.submenu li {
  font-size: clamp(12px, 2vw, 18px);
  opacity: 0.8;
  margin-bottom: 10px;
}

.nav-menu > li,
.submenu li {
  transition: color 0.3s ease;
}

.nav-menu > li:hover,
.submenu li:hover {
  color: blue;
  opacity: 1;
}

.dropdown-icon {
  font-size: clamp(20px, 2vw, 32px);
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.bnr-bottom {
  text-align: center;
}

#nav-social {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: clamp(5px, 1vw, 10px);
}

.sm-text {
  font-size: clamp(9px, 1vw, 14px);
  color: black;
}

.ad-text {
  font-size: clamp(11px, 2vw, 16px);
  font-style: normal;
  color: black;
  margin: 0;
}

.nav-contact {
  margin-top: 0;
  color: blue;
  font-size: clamp(11px, 1.5vw, 16px);
}
