
/* Main Layout */
.leadership-content {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

/* Left text */
.leadership-text {
  flex: 1;
}

/* Right profile */
.leadership-profile {
  flex: 1;
  text-align: center;
}

.leader-image {
  width: 60%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 12px;
}




