.vishwaraj-wrapper {
  padding-bottom: 22%;
  background-image: url("/public/assets/images/background/vishwaraj2.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Layout */
.studio-content {
  display: flex;
  justify-content: flex-end;
  /* gap: 60px; */
  padding: 20px;
  /* align-items: center; */
  /* background-color: #20B2AA; */
}

/* Image container */
.studio-imgs {
  position: relative;
  width: 700px;
  height: 400px;
  overflow: hidden;
  border: 1px solid white;
}

.studio-imgs img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.studio-imgs img.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

/* Previous image (slide out) */
.studio-imgs img.prev {
  opacity: 0;
  transform: translateX(100%);
  z-index: 1;
}
/* Animation */
@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

.studio-section {
  position: relative;
  padding: 0 40px;
  max-width: 550px;
  text-align: right;
}

#studio-btn {
  margin-left: auto;
  display: inline-block;
}
