.carousel-background {
  position: relative;
  width: 100%;
  padding: 40px 0;
  background-image: url("/public/assets/images/background/career-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.carousel-background::before {
  content: "";
  position: absolute;
  z-index: 1;
}


.track-images {
  width: 300px !important; 
  object-fit: cover;
  border-radius: 15px; 
  flex-shrink: 0;
  border: none !important;
}

