/* Grid layout */
.Structure-grid {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 60px 0;
}

/* Card */
.st-card {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

