.landing-top {
  min-height: 100vh;
  background-image: url("/public/assets/images/banner/Ankit Bhat.webp");
  background-repeat: no-repeat;
  background-position: 80% 25%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.landing-overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 35%,
    rgba(0, 0, 0, 0.6) 55%,
    rgba(0, 0, 0, 0.25) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  z-index: 1;
  pointer-events: none;
}

.landing-top-bar,
.landing-main,
.landing-bottom {
  position: relative;
  z-index: 2;
}

/* Top Bar */
.landing-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  display: flex;
  gap: 20px;
  align-items: center;
}

.ld-logo1 {
  margin-left: 50px;
  width: 115px;
}

.ld-logo2 {
  width: 240px;
  height: 100px;
}

.logo-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 55px;
  color: gold;
}
.ld-social {
  margin-bottom: 50px;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.ld-social-icons {
  width: clamp(20px, 2vw, 35px) !important;
  height: clamp(20px, 2vw, 35px) !important;
  border-radius: 50%;
}

/* Main Section */
.landing-main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  padding: 50px;
}


.info-card {
  background: whitesmoke;
  color: black;
  max-width: 500px;
  border-radius: 15px;
}

.form-title {
  font-family: "Poppins-Medium", Helvetica;
  border-radius: 15px 15px 0 0;
  background: goldenrod;
  margin: 0;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}

.apply-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.apply-form input,
.apply-form select {
  border: 1px solid goldenrod;
  padding: 15px 20px;
  margin: 25px 25px 0 25px;
  border-radius: 6px;
  font-size: 14px;
}

.apply-form input::placeholder {
  color: #777;
}

#landing-btn {
  width: fit-content;
  margin: 15px auto;
}
/* Country | State | City in one line */
.form-row {
  display: flex;
}

.form-row select {
  flex: 1;
}

/* landingtop Text */
.landingtop-text {
  position: absolute;
  right: 40px;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Bottom Section */
.landing-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.bottom-block {
  text-align: center;
  padding: 0 40px;
}

.bt-block-text {
  margin-bottom: 0;
}

.bt-block-title {
  font-size: 50px;
  margin-bottom: 60px;
}

/* Divider (horizontal + vertical look) */
.divider {
  width: 2px;
  height: 100px;
  background: whitesmoke;
}
