.contact-us {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.contact-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   background-color: rgba(47, 49, 54, 0.9);
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.35);
  /* gap: 20px; */
}

.contact-card {
  /* background-color: whitesmoke; */
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 30px 0px 20px 20px;
  /* border: 1px solid #e5e5e5; */
  /* border-radius: 8px; */
}

.contact-card .icon img {
  width: 30px;
  height: 30px;
}

.contact-card .content span {
  /* color: rgb(104, 103, 103); */
  color: silver;
  padding-right: 10px;
  font-weight: 500;
}
