.shortfilm-wrapper {
  padding: 40px 100px;
  background: black;
  color: white;
}

.shortfilm-section {
  margin-bottom: 60px;
}

/* Header */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

/* .section-header h2 {
  font-size: 28px;
  font-weight: 600;
} */

/* Filters */
.filters {
  display: flex;
  gap: 15px;
}

/* Button (your provided style) */
.awards-button {
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  background: linear-gradient(100deg, #8e2de2, #eb0a3e);
  transition: transform 0.3s ease;
}

.awards-button:hover {
  transform: scale(1.1);
}

/* Cards Grid */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.film-card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}

.film-card img {
  width: 250px;
  object-fit: cover;
}
