.admission {
  width: 80%;
  margin: 0 auto;
  padding: 20px 100px;
}

.admission-section {
  margin-bottom: 40px;
}

.admission-table {
  margin: 0 auto;
  width: min(100%, 1000px);
  border-collapse: collapse;
}

.admission-table th,
.admission-table td {
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #ccc;
  padding: 15px 20px;
  text-align: center;
}

.admission-table th {
  background-color: rgba(47, 49, 54, 0.9);
  color: wheat;
   font-weight: 600;
}

/* stages */
.stages-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  max-width: 1400px;
  margin: auto;
}

.stage-card {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.stage-card.right {
  justify-content: flex-end;
}

.stage-card::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 4px;
  height: 100%;
  background: linear-gradient(100deg, #8e2de2, #eb0a3e);
  transform: translateX(-50%);
  z-index: 0;
}

.stage-content {
  /* background: whitesmoke; */
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.35);
  background-color: rgba(47, 49, 54, 0.9);
  border-radius: 15px;
  padding: 15px 25px;
  width: 45%;
  position: relative;
  z-index: 1;
  height: auto;
}

.stage-card.left .stage-content {
  margin-left: 0;
}

.stage-card.right .stage-content {
  margin-right: 0;
}

.stage-title {
  font-size: 22px;
  /* color: #8e2de2; */
  color: wheat;
  margin: 0;
}

.stage-content ul {
  padding-left: 20px;
  list-style-type: disc;
  /* color: #333; */
}

.stage-content li {
  margin-bottom: 8px;
  /* color: #333; */
}

/* Add connector dot for timeline style */
.stage-card::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* faq */
.faq-wrapper {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}

/* FAQ Item */
.faq-item {
  border-bottom: 0.5px solid silver;
  padding: 15px 0;
}

/* Question */
.faq-question {
  font-family: "Poppins-Medium", Helvetica;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: wheat;
}

/* Icon */
.faq-icon {
  font-size: 30px;
  color: rgb(240, 61, 165);
}
