.admission {
  width: 80%;
  margin: 0 auto;
  padding: 20px 100px;
}

.admission-section {
  margin-bottom: 40px;
}

.admission-table {
  margin: 0 auto;
  width: min(100%, 1000px);
  border-collapse: collapse;
}

.admission-table th,
.admission-table td {
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #ccc;
  padding: 15px 20px;
  text-align: center;
}

.admission-table th {
  background-color: rgba(47, 49, 54, 0.9);
  color: wheat;
}

/* stages */
.stages-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  max-width: 1400px;
  margin: auto;
}

.stage-cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.stage-cards.right {
  justify-content: flex-end;
}

.stage-cards::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 4px;
  height: 100%;
  background: linear-gradient(100deg, #8e2de2, #eb0a3e);
  transform: translateX(-50%);
  z-index: 0;
}

.stage-card {
  width: 45%;
  position: relative;
  z-index: 1;
  height: auto;
  text-align: left;
}

.stage-cards.left .stage-card {
  margin-left: 0;
}

.stage-cards.right .stage-card {
  margin-right: 0;
}

/* Add connector dot for timeline style */
.stage-cards::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.faq-wrapper {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}

.faq-item {
  border-bottom: 0.5px solid silver;
}

.faq-que {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* Icon */
.faq-icon {
  font-size: 30px;
  color: rgb(240, 61, 165);
}
