.awards-section {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}


/* Rows */
.awards-row {
  display: grid;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.awards-row.five {
  grid-template-columns: repeat(5, 1fr);
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.awards-row.four {
  grid-template-columns: repeat(4, 1fr);
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
}

/* Card */
.award-card {
  height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.award-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;
  padding: 25px;
}

.film-name {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.award-name {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #696984;
}

.student-name {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

/* Button */
#award-btn {
  margin-bottom: 30px;
}

/* Responsive */
@media (max-width: 1024px) {
  .awards-row.five {
    grid-template-columns: repeat(2, 1fr);
  }

  .awards-row.four {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .awards-row.five,
  .awards-row.four {
    grid-template-columns: 1fr;
  }
}

.carousel-wrapper {
  /* width: 93%; */
  overflow: hidden;
  padding: 30px ;
  margin: 0 auto;
  z-index: 2;
  /* background-color: #20b2aa; */
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.carousel-track img {
  width: 280px;
  object-fit: cover;
  margin-right: 30px;
  flex-shrink: 0;
  /* border: 4px solid rgb(190, 138, 6); */
  border: 1px solid white;
}

/* Continuous scroll animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Pause on hover (optional) */
.carousel-wrapper:hover .carousel-track {
  animation-play-state: paused;
}
