/* Container */
.recognitions-container {
  margin: 0 auto;
  padding: 20px 0;
}

/* Horizontal grid for cards */
.recognitions-grid {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Single card */
.recognition-card {
  backdrop-filter: blur(6px);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.35);
  background-color: rgba(47, 49, 54, 0.9);
  /* background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(236, 235, 235, 0.6); */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.recognition-card:hover {
  transform: translateY(-6px);
  box-shadow: none;
}

/* Top image */
.rec-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

/* Name and button */
.rec-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

#rec-btn {
  width: max-content;
}
