/* Container */
.recognitions-container {
  margin: 0 auto;
  padding: 20px 0;
}

/* Horizontal grid for cards */
.recognitions-grid {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Single card */
.rg-card {
  padding: 0;
  width: 420px;
}


/* Top image */
.rec-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

/* Name and button */
.rec-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

#rec-btn {
  width: max-content;
}
