.programs-section {
  padding: 35px 0;
  text-align: center;
  background-image: url("/public/assets/images/background/bg4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.programs-cards {
  display: flex;
  gap: 40px;
  padding: 30px 0;
  justify-content: center;
  flex-wrap: wrap;
}

.program-card {
  background: var(--card-bg);
  max-width: 500px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.program-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.35);
  background-color: rgba(47, 49, 54, 0.9);
}

.program-card:hover .card-image {
border: none;
}


/* IMAGE */
.card-image {
  position: relative;
  height: 380px;        
  overflow: hidden;
  border: 1px solid white;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.program-card:hover .card-image img {
  transform: scale(1.05);
}

/* READ MORE BUTTON */
#pg-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* SUBTITLE & TEXT */
.card-subtitle {
  font-size: 30px;
  font-size: 600;
  margin: 1rem 0 0.5rem;
}
