.footer {
  background: #000 url("/public/assets/images/background/footer.webp") no-repeat right
    center / auto 100%;
  padding:  30px;
  box-shadow: 0 -6px 15px rgba(255, 255, 255, 0.35);
}

/* TOP */
.footer-top {
  display: flex;
  max-width: fit-content;
  justify-content: space-between;
  margin: 0 auto;
}

/* LEFT */
.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 2vw, 40px);
}

.logo1 {
  width: clamp(100px, 50vw, 170px);
}

.logo2 {
  width: clamp(40px, 2vw, 80px);
}
.footer-address {
  font-size: clamp(12px, 1.5vw, 16px);
  margin-bottom: clamp(10px, 1vw, 20px);
  text-align: center;
}

.footer-map {
  display: flex;
  justify-content: center;
}

.footer-map iframe {
  width: 100%;
  max-width: clamp(200px, 50vw, 400px); /* optional */
  height: clamp(100px, 50vw, 180px);
  border: 0;
}

/* CENTER */
.footer-links {
  display: flex;
  gap: clamp(10px, 1vw, 20px);
}

.footer-links ul {
  list-style: none;
  text-align: start;
}

.footer-heading {
  display: block;
  font-size: clamp(14px, 1.5vw, 18px);
  color: goldenrod;
  margin-bottom: 12px;
  grid-column: 1 / -1;
}

/* SOCIAL ICONS */
.footer-social{
  display: flex;
  align-items: center;
  gap: clamp(8px, 1vw, 15px);
  padding: 20px 0 0 20px;
}

.ft-social-icons {
  width: clamp(20px, 1vw, 35px) !important;
  height: clamp(20px, 1vw, 35px) !important;
  border-radius: 50%;
}

/* RIGHT */
.footer-right {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-left: clamp(100px, 50vw, 200px);
}

.footer-button {
  position: absolute;
  right: clamp(5px, 1vw, 10px);
  top:clamp(15px, 2vw, 30px);
}

.footer-image {
  width: 100%;
  max-width: clamp(150px, 50vw, 260px);
  border-radius: clamp(8px, 1vw, 12px);
  margin-bottom: clamp(12px, 1.5vw, 16px);
}

.footer-text.vertical-words {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end;
  padding-top: 100px;
}

.footer-text.vertical-words span {
  display: block;
  font-size: 50px;
  font-weight: 500;
  color: whitesmoke;
  font-style: italic;
  text-shadow: 3px 1px 0 goldenrod;
  margin-bottom: 30px;
}

/* BOTTOM */
.footer-bottom {
  font-size: 14px;
  padding-top: 10px;
  border-top: 1px solid #535353;
  text-align: center;
  color: goldenrod;
}

