
/* Logos Grid */
.specialization-grid {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  justify-content: center;              
  gap: 20px;                              
}


.specialization-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.specialization-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;      
  background: goldenrod;     
  padding: 10px;           
}

