/* :root {
  --border: 3px;
  --color1: #8e2de2;
  --color2: #eb0a3e;
  --from: 30deg;
  --distance: 46%;
} */

.mentor-section {
  padding: 30px 0;
  margin: 0 auto;
}

/* LAYOUT */
.mentor-content {
  display: flex;
  gap: 60px;
  width: 70%;
  margin: 0 auto;
}

/* LEFT */
.mentor-left {
  width: 50%;
}

/* IMAGE EFFECT */
.img-wrap {
  position: relative;
  padding: 30px 0 0 0;
  width: fit-content;
  margin: 0 auto;
}

/* .img-wrap::after {
  content: "";
  font-size: larger;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  background: conic-gradient(
    from var(--from),
    var(--color1),
    var(--color2) var(--distance),
    transparent var(--distance)
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
} */

.img-wrap img {
  border-radius: 50%;
  width: 350px;
  height: 330px;
  display: block;
}

/* MENTOR INFO */
.mentor-info {
  display: flex;
  gap: 40px;
  margin-top: 25px;
  align-items: flex-start;
}

.mentor-icon {
  width: 75%;
  height: auto;
}

.mentor-message {
  color: goldenrod;
  font-style: italic;
}

/* RIGHT */
.mentor-right {
  width: 60%;
}

.mentor-paragraph {
  max-width: max-content;
}

/* grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  transition: gap 0.4s ease;
  max-width: 1000px;
  margin: 0 auto;
}

/* Images */
.image-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0px;
  border: none;
  transition:
    transform 0.4s ease,
    border-radius 0.4s ease,
    border 0.4s ease;
  cursor: pointer;
  border: 1px solid whitesmoke;
}

/* hover effect */
.image-grid:hover {
  gap: 25px;
}

.image-grid:hover img {
  border-radius: 12px;
  border: none;
}
.image-grid img:hover {
  transform: scale(1.03);
}
