.features-section {
  padding: 60px 20px;
  margin: 0 auto;
}

.features-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.feature-card {
  padding: 30px 10px;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
}

.feature-icon {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 10px;
  object-fit: cover;
  margin-bottom: 16px;
}

/* unique features */
.unique-features {
  padding: 60px 20px;
}

.uq-features-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.uq-feature-card {
  width: 60%;
  /* Animation */
  opacity: 0;
  transform: translateY(40px);
  animation: slideIn 1.5s forwards;
}

.uq-feature-card.left {
  align-self: flex-start;
}

.uq-feature-card.right {
  align-self: flex-end;
}

/* Animation keyframes */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .feature-card {
    width: 100%;
    align-self: center !important;
  }
}
